<div class="container-fluid mt-4">
  <div class="row">
    <!-- Sidebar for Sub-Functions -->
    <div class="col-md-3">
      <div class="list-group">
        <a href="#baseFare" class="list-group-item list-group-item-action active">Set Base Fare & Per KM/Minute Charges</a>
        <a href="#platformCommission" class="list-group-item list-group-item-action">Set Platform Commission Percentages</a>
        <a href="#pricingInterface" class="list-group-item list-group-item-action">Pricing Management Interface</a>
        <a href="#adminControls" class="list-group-item list-group-item-action">Admin Controls & Reporting</a>
        <a href="#referralRewards" class="list-group-item list-group-item-action">Referral System & Rewards</a>
        <a href="#promotions" class="list-group-item list-group-item-action">Promotions & Coupon Management</a>
      </div>
    </div>