<h2>{{ user.name }} - Activity</h2>

<h4>Ride History</h4>
<ul>
{% for ride in rides %}
<li>{{ ride.date }} - {{ ride.pickup }} to {{ ride.dropoff }} - {{ ride.status }}</li>
{% endfor %}
</ul>

<h4>Rental History</h4>
<ul>
{% for rental in rentals %}
<li>{{ rental.date }} - {{ rental.vehicle }} - {{ rental.status }}</li>
{% endfor %}
</ul>

<h4>Payments</h4>
<ul>
{% for pay in payments %}
<li>{{ pay.date }} - {{ pay.amount }} - {{ pay.status }}</li>
{% endfor %}
</ul>

<h4>Complaints</h4>
<ul>
{% for c in complaints %}
<li>{{ c.date }} - {{ c.subject }} - {{ c.status }}</li>
{% endfor %}
</ul>
